					{% load static %}
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="get" action="https://www.google.co.in/">
										<input type="text" name="q" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/home/">Homepage</a></li>
										<li><a href="/addinv/">Add Inventory</a></li>
										<li><a href="/logout/">Logout</a></li>
									</ul>
								</nav>

							
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<ul class="contact">
										<li class="fa-envelope-o"><a href="#">suresh.t551@outlook.com</a></li>
										<li class="fa-phone">(+91) 9XXXXXXX66 </li>
										<li class="fa-home">Bangalore<br />
										KA 560087</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Inventory Management. All rights reserved.</p>
								</footer>

						</div>
					</div>